body {
  margin: 0;
}

.red {
height: 100px;
width: 100px;
background-color: red;
position: absolute;

}

.blue {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: absolute;
  left: 100px;
  bottom: 100px;
  }

  .yellow {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    }